@font-face {
    font-family: "pretendard";
    src: url(../font/Pretendard-Thin.otf);
    src: url(../font/Pretendard-Thin.otf?iefix) format(embedded-opentype),
        url(../font/Pretendard-Thin.otf) format(opentype);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "pretendard";
    src: url(../font/Pretendard-ExtraLight.otf);
    src: url(../font/Pretendard-ExtraLight.otf?iefix) format(embedded-opentype),
        url(../font/Pretendard-ExtraLight.otf) format(opentype);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "pretendard";
    src: url(../font/Pretendard-Light.otf);
    src: url(../font/Pretendard-Light.otf?iefix) format(embedded-opentype),
        url(../font/Pretendard-Light.otf) format(opentype);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "pretendard";
    src: url(../font/Pretendard-Regular.otf);
    src: url(../font/Pretendard-Regular.otf?iefix) format(embedded-opentype),
        url(../font/Pretendard-Regular.otf) format(opentype);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "pretendard";
    src: url(../font/Pretendard-Medium.otf);
    src: url(../font/Pretendard-Medium.otf?iefix) format(embedded-opentype),
        url(../font/Pretendard-Medium.otf) format(opentype);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "pretendard";
    src: url(../font/Pretendard-SemiBold.otf);
    src: url(../font/Pretendard-SemiBold.otf?iefix) format(embedded-opentype),
        url(../font/Pretendard-SemiBold.otf) format(opentype);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "pretendard";
    src: url(../font/Pretendard-Bold.otf);
    src: url(../font/Pretendard-Bold.otf?iefix) format(embedded-opentype),
        url(../font/Pretendard-Bold.otf) format(opentype);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "pretendard";
    src: url(../font/Pretendard-ExtraBold.otf);
    src: url(../font/Pretendard-ExtraBold.otf?iefix) format(embedded-opentype),
        url(../font/Pretendard-ExtraBold.otf) format(opentype);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "pretendard";
    src: url(../font/Pretendard-Black.otf);
    src: url(../font/Pretendard-Black.otf?iefix) format(embedded-opentype),
        url(../font/Pretendard-Black.otf) format(opentype);
    font-weight: 900;
    font-style: normal;
}
